
/* Hide the #primary div until we check for and possibly load Mandala content  , footer#colophon */
body.loading {
  #primary {
    display: none;
  }

  footer#colophon {
    background: unset;
  }
}

.mt {
  margin-top: 0.5rem;
}